<footer class="main-footer">
    <div class="pull-right hidden-xs"><a href="#">2022</a></div>
    Thanks for using <strong><a data-pjax="true" href="#">wqy的博客</a>.</strong>
</footer>

<script th:src="${staticCdnUrl+'/static/plugins/pjax/jquery.pjax.js'}"></script>
<script th:src="${staticCdnUrl+'/static/plugins/pace/pace.min.js'}"></script>
<script th:src="${staticCdnUrl+'/static/js/adminlte.min.js'}"></script>
<script th:src="${staticCdnUrl+'/static/plugins/toast/js/jquery.toast.min.js'}"></script>
<script th:src="${staticCdnUrl+'/static/plugins/layer/layer.js'}"></script>
<script th:src="${staticCdnUrl+'/static/plugins/bootstrap-fileinput/js/fileinput.min.js'}"></script>
<script th:src="${staticCdnUrl+'/static/plugins/bootstrap-fileinput/js/locales/zh.js'}"></script>
<script th:src="${staticCdnUrl+'/static/js/app.js?version='+version}"></script>
<script>
    Pace.options = {
        restartOnRequestAfter: false
    };
    $(document).ajaxStart(function () {
        Pace.restart();
    });
    $(document).pjax('a[data-pjax=true]', '.content-wrapper', {
        fragment: '.content-wrapper',
        timeout: 8000
    });
    var heading = "提示";
</script>
</body>
</html>
